.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-muted {
  cursor: default;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606060+0,a0a0a0+100 */
	background: #606060; /* Old browsers */
	background: -moz-linear-gradient(left, #606060 0%, #a0a0a0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #606060 0%,#a0a0a0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #606060 0%,#a0a0a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#a0a0a0',GradientType=1 ); /* IE6-9 */
}
